$black: rgb(20, 20, 20);
$black-ligter: #242424;
$grey: #979797;
$red: #ff6f5b;
$green: #4ee1a0;
$cream: #d9d9d9;

$headingXL: 88px;
$xl-line-height: 88px;
$xl-letter-spacing: -2.5px;
$headingL: 48px;
$l-line-height: 56px;
$l-letter-spacing: -1.5px;
$headingM: 24px;
$m-letter-spacing: 32px;
$paragraph-size: 18px;
$paragraph-line-height: 28px;